<a href="https://colab.research.google.com/github/Komal-99/Reinforcement-Learning/blob/main/pr_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
import numpy as np

In [31]:
df=pd.read_csv('/content/student-mat.csv')

In [32]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [33]:
pivot=df.iloc[0:395][['absences','G3']]

In [34]:
pivot

     absences  G3
0           6   6
1           4   6
2          10  10
3           2  15
4           4  10
..        ...  ..
390        11   9
391         3  16
392         3   7
393         0  10
394         5   9

[395 rows x 2 columns]

In [35]:
count=len(pivot[(pivot['absences']>10)&(pivot['G3']>16)])

In [36]:
count

3

In [37]:
count1=len(pivot[pivot['absences']>10])

In [38]:
count1

66

In [39]:
count2=len(pivot[pivot['G3']>16])

In [40]:
count2

24

In [41]:
p_a_intersection_b=count/395

In [42]:
p_a_intersection_b

0.007594936708860759

In [43]:
p_a=count2/395

In [44]:
p_a

0.060759493670886074

In [45]:
p_b=count1/395

In [46]:
p_b

0.1670886075949367

In [47]:
P=p_a_intersection_b/p_b

In [48]:
P

0.04545454545454545

In [49]:
from random import randint
num_people=23
num_possible_birthdays=365
num_trials=10000
def generate_random_birthday():
  birthday=randint(1,num_possible_birthdays)
  return birthday

In [50]:
def generate_k_birthdays(k):
  birthdays=[generate_random_birthday() for _ in range(k)]
  return birthdays

def aloc(birthdays):
  unique_birthdays=set(birthdays)
  num_birthdays=len(birthdays)
  num_unique_birthdays=len(unique_birthdays)
  has_coincidence=(num_birthdays!= num_unique_birthdays)
  return has_coincidence

In [51]:
def estimate_p_aloc():
  num_aloc=0
  for _ in range(num_trials):
    birthdays=generate_k_birthdays(num_people)
    has_coincidence=aloc(birthdays)
    if has_coincidence:
      num_aloc+=1
  p_aloc=num_aloc/num_trials
  return p_aloc

In [52]:
p_aloc=estimate_p_aloc()
print(f"Estimated P(ALOC) after {num_trials} trials: {p_aloc}")

Estimated P(ALOC) after 10000 trials: 0.5057

In [56]:
from scipy.stats import uniform
uniform.cdf(x=19,loc=15,scale=10) -uniform.cdf(x=17,loc=15,scale=10)

0.2

In [57]:
from scipy import stats
a=stats.norm.cdf(1200,1000,200)
g=1-a
print(g)
b=stats.norm.cdf(750,1000,200)
print(a-g)
stats.norm.ppf(.15,1000,200)
stats.norm.ppf(.25,1000,200)

0.15865525393145707
0.6826894921370859

865.1020499607837

In [58]:
from scipy.stats import poisson
poisson.cdf(k=5,mu=3)

0.9160820579686966